/*
phone
tablet
tablet landscape
desktop
*/
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden; }

html {
  font-size: 62.5%; }

body {
  font-weight: 400;
  background-color: #000000; }

.container-fluid {
  padding: 0; }

.row > * {
  padding: 0px; }

.vibes {
  font-family: "Great Vibes", cursive; }

.roboto {
  font-family: "Roboto Slab", serif; }

.montserrat {
  font-family: "Montserrat", sans-serif; }

.montserrat_bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 800; }

.meb {
  font-family: "Montserrat", sans-serif;
  font-weight: 900; }

.monoton {
  font-family: "Monoton", cursive; }

.white {
  color: white; }

.light-white {
  color: #c6c6c6; }

.grey {
  color: #8f8f8f; }

.light-black {
  color: #727272; }

.black {
  color: #000000; }

.blue {
  color: #0084ba; }

.xxs {
  font-size: 1vw; }
  @media (max-width: 900px) {
    .xxs {
      font-size: 6vw; } }
  @media (max-width: 415px) {
    .xxs {
      font-size: 6vw; } }

.xs {
  font-size: 2vw; }
  @media (max-width: 900px) {
    .xs {
      font-size: 6vw; } }
  @media (max-width: 415px) {
    .xs {
      font-size: 6vw; } }

.sm {
  font-size: 3vw; }
  @media (max-width: 900px) {
    .sm {
      font-size: 6vw; } }
  @media (max-width: 415px) {
    .sm {
      font-size: 10vw; } }

.l {
  font-size: 6vw; }
  @media (max-width: 900px) {
    .l {
      font-size: 7vw; } }
  @media (max-width: 415px) {
    .l {
      font-size: 10vw; } }

.xxl {
  font-size: 15vw; }
  @media (max-width: 415px) {
    .xxl {
      font-size: 16vw; } }

.btn-primary {
  background-color: #0084ba;
  padding: 1.5rem;
  border: 0.2rem solid #0084ba;
  border-radius: 0.2rem;
  margin: 3rem 0; }

.btn-primary:hover {
  background-color: transparent;
  padding: 1.5rem;
  border: 0.2rem solid #0084ba;
  border-radius: 0.2rem; }

.header {
  height: 100vh; }
  .header .logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 22rem; }
    @media (max-width: 900px) {
      .header .logo {
        width: 18rem; } }
    @media (max-width: 415px) {
      .header .logo {
        width: 15rem; } }
  .header-top {
    width: 100vw;
    height: 50vh;
    background-image: url(../img/bgg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    @media (max-width: 415px) {
      .header-top {
        background-image: url(../img/bg.png); } }
  .header-btm {
    text-align: center;
    position: relative;
    height: 50vh; }
    .header-btm .social-links {
      position: absolute;
      bottom: 0;
      display: flex;
      width: 100%;
      height: 30vh;
      justify-content: space-between; }
      .header-btm .social-links-left {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-start;
        padding: 2rem; }
      .header-btm .social-links-right {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: flex-end;
        padding: 2rem; }

.fab,
.fas,
.far {
  font-size: 2.7rem;
  color: white;
  padding: 0.1rem; }

.navigation {
  height: 0;
  width: 0; }
  .navigation .burger {
    z-index: 300;
    cursor: pointer;
    position: absolute;
    top: 2rem;
    right: 2rem; }
  .navigation .checkbox {
    position: absolute;
    left: -5000px; }
    .navigation .checkbox:not(:checked) {
      transition-delay: calc(0.025s * (var(--length) - (var(--index) + 1))); }
  .navigation-links {
    position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    text-align: center;
    height: 100vh;
    width: 0vw;
    display: flex;
    justify-content: center;
    z-index: 250;
    background-color: #0084ba;
    transition: all 0.4s; }
    .navigation-links .list {
      padding: 5rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      opacity: 0;
      transform: translateX(10rem);
      transition: all 0.4s 0.4s; }
      .navigation-links .list li a,
      .navigation-links .list span {
        line-height: 1.8;
        text-decoration: none;
        color: white; }
      .navigation-links .list .link {
        opacity: 0;
        transform: translateX(500%);
        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(0.38, 0.42, 0, 1.14);
        transition-property: opacity, transform;
        transition-delay: calc(0.025s * (var(--length) - (var(--index) + 1))); }
      .navigation-links .list .link:hover {
        background-position: 100%;
        transform: translateX(-1rem); }

.expand .burger {
  transform: rotateZ(180deg); }

.expand .navigation-links {
  width: 40vw;
  opacity: 1; }
  .expand .navigation-links .list {
    opacity: 1;
    transform: translateX(0); }
    .expand .navigation-links .list .link {
      opacity: 1;
      transform: translateX(0);
      transition-delay: calc(0.11s * var(--index)); }
  @media (max-width: 415px) {
    .expand .navigation-links {
      width: 100vw; } }

.section {
  padding: 0 2rem; }
  .section-header {
    display: flex;
    flex-direction: column;
    position: relative; }
    .section-header * {
      margin: 0 auto; }
    .section-header-back {
      width: 100%;
      text-align: center;
      overflow-y: hidden; }
      @media (max-width: 415px) {
        .section-header-back {
          padding: 2vh 0; } }
      .section-header-back-title {
        text-transform: uppercase;
        z-index: -1;
        opacity: 0.11;
        line-height: 0.9;
        overflow-y: hidden; }
    .section-header-front {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -15%);
      display: flex;
      flex-direction: column; }
      @media (max-width: 900px) {
        .section-header-front {
          transform: translate(-50%, -45%); } }
      @media (max-width: 415px) {
        .section-header-front {
          transform: translate(-50%, -30%); } }
      .section-header-front-title {
        line-height: 1;
        overflow-y: hidden; }
    .section-header .section-title {
      display: block; }

.who-left-image {
  text-align: center; }
  .who-left-image .main-image {
    max-height: 85vh;
    width: auto; }

.who-right {
  text-align: center;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.who .typing {
  margin-top: 4vh; }

.what .card-container {
  margin-top: 3vh;
  display: flex;
  justify-content: space-around; }
  .what .card-container .card {
    box-shadow: 9px 9px 32px #0084ba;
    text-align: center;
    line-height: 1.4;
    padding: 2rem;
    margin: 2rem;
    border-radius: 0.5rem; }
    .what .card-container .card-description {
      padding: 2.5 2rem; }
    .what .card-container .card-svg {
      margin: 2.5rem auto; }
    .what .card-container .card-line {
      border-bottom: 3px solid #0084ba;
      width: 83%;
      margin: 2.5rem auto; }

.experience {
  margin-top: 3rem;
  background-image: url(../img/experience-background.png);
  text-align: center; }
  .experience-line {
    border-bottom: 3px solid white;
    width: 83%;
    margin: 2.5rem auto; }
  @media (max-width: 415px) {
    .experience-desc {
      margin-top: 2rem; } }

.certifications {
  margin-top: 3rem;
  background-image: url(../img/certifications-background.png); }
  .certifications-container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly; }
    .certifications-container .certificate {
      text-align: center; }
      .certifications-container .certificate-title {
        color: #0084ba;
        font-size: 2rem; }
      .certifications-container .certificate-img {
        transition: all 0.2s; }
      .certifications-container .certificate-img:hover {
        transform: scale(1.1); }

.story {
  background-image: url(../img/story.png);
  background-size: contain; }
  .story .mystory {
    margin: 3rem 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center; }
    .story .mystory-text {
      margin-bottom: 3rem; }

footer {
  text-align: center; }
