/*
phone
tablet
tablet landscape
desktop
*/
#logo {
  animation: whiten 0.5s ease forwards 4.3s; }

.paths path:nth-child(2) {
  stroke-dasharray: 380;
  stroke-dashoffset: 380;
  animation: animate 2s ease-out forwards 1s; }

.paths path:nth-child(3) {
  stroke-linecap: square;
  stroke-dasharray: 175px;
  stroke-dashoffset: 175px;
  animation: animate 2s ease forwards 1.3s; }

.paths path:nth-child(4) {
  stroke-dasharray: 440px;
  stroke-dashoffset: 440px;
  animation: animate 2s ease forwards 1.6s; }

.paths path:nth-child(5) {
  stroke-dasharray: 440px;
  stroke-dashoffset: 440px;
  animation: animate 2s ease forwards 1.9s; }

.paths path:nth-child(6) {
  stroke-linecap: square;
  stroke-dasharray: 413px;
  stroke-dashoffset: 413px;
  animation: animate 2s ease forwards 2.2s; }

.paths path:nth-child(7) {
  stroke-dasharray: 378px;
  stroke-dashoffset: 378px;
  animation: animate 2s ease forwards 2.5s; }

.paths path:nth-child(8) {
  stroke-linecap: round;
  stroke-dasharray: 423px;
  stroke-dashoffset: 423px;
  animation: animate 2s ease forwards 2.8s; }

.paths path:nth-child(9) {
  stroke-linecap: square;
  stroke-dasharray: 260px;
  stroke-dashoffset: 260px;
  animation: animate 2s ease forwards 3.1s; }

.paths path:nth-child(10) {
  stroke-linecap: square;
  stroke-dasharray: 413;
  stroke-dashoffset: 413;
  animation: animate 2s ease forwards 3.4s; }

.paths path:nth-child(11) {
  stroke-linecap: round;
  stroke-dasharray: 423px;
  stroke-dashoffset: 423px;
  animation: animate 2s ease forwards 3.7s; }

.paths path:nth-child(12) {
  stroke-dasharray: 377px;
  stroke-dashoffset: 377px;
  animation: animate 2s ease forwards 4s; }

.paths path:nth-child(13) {
  stroke-linecap: square;
  stroke-dasharray: 175px;
  stroke-dashoffset: 175px;
  animation: animate 2s ease forwards 4.3s; }

#logo-phone {
  animation: whiten 0.5s ease forwards 4.3s; }

.paths-phone path:nth-child(2) {
  stroke-linecap: square;
  stroke-dasharray: 244.47px;
  stroke-dashoffset: 244.47px;
  animation: animate 2s ease-out forwards 1s; }

.paths-phone path:nth-child(3) {
  stroke-linecap: square;
  stroke-dasharray: 106.21px;
  stroke-dashoffset: 106.21px;
  animation: animate 2s ease forwards 1.3s; }

.paths-phone path:nth-child(4) {
  stroke-linecap: square;
  stroke-dasharray: 440px;
  stroke-dashoffset: 440px;
  animation: animate 2s ease forwards 1.6s; }

.paths-phone path:nth-child(5) {
  stroke-linecap: square;
  stroke-dasharray: 440px;
  stroke-dashoffset: 440px;
  animation: animate 2s ease forwards 1.9s; }

.paths-phone path:nth-child(6) {
  stroke-linecap: square;
  stroke-dasharray: 413px;
  stroke-dashoffset: 413px;
  animation: animate 2s ease forwards 2.2s; }

.paths-phone path:nth-child(7) {
  stroke-dasharray: 378px;
  stroke-dashoffset: 378px;
  animation: animate 2s ease forwards 2.5s; }

.paths-phone path:nth-child(8) {
  stroke-linecap: round;
  stroke-dasharray: 423px;
  stroke-dashoffset: 423px;
  animation: animate 2s ease forwards 2.8s; }

.paths-phone path:nth-child(9) {
  stroke-linecap: square;
  stroke-dasharray: 260px;
  stroke-dashoffset: 260px;
  animation: animate 2s ease forwards 3.1s; }

.paths-phone path:nth-child(10) {
  stroke-linecap: square;
  stroke-dasharray: 413;
  stroke-dashoffset: 413;
  animation: animate 2s ease forwards 3.4s; }

.paths-phone path:nth-child(11) {
  stroke-linecap: round;
  stroke-dasharray: 423px;
  stroke-dashoffset: 423px;
  animation: animate 2s ease forwards 3.7s; }

.paths-phone path:nth-child(12) {
  stroke-dasharray: 377px;
  stroke-dashoffset: 377px;
  animation: animate 2s ease forwards 4s; }

.paths-phone path:nth-child(13) {
  stroke-linecap: square;
  stroke-dasharray: 175px;
  stroke-dashoffset: 175px;
  animation: animate 2s ease forwards 4.3s; }

@keyframes animate {
  to {
    stroke-dashoffset: 0px; } }

@keyframes whiten {
  from {
    fill: transparent; }
  to {
    fill: white; } }

.hidden {
  opacity: 0; }

.fade-in-element {
  animation: fade-in ease 2s; }

@keyframes fade-in {
  from {
    opacity: 0;
    transform: translateX(-50px) scale(0.8, 0.8); }
  to {
    opacity: 1;
    transform: translateX(0px) scale(1, 1); } }

.fade-in-left {
  animation: fade-in-l ease 2s; }

@keyframes fade-in-l {
  from {
    opacity: 0;
    transform: translateX(-50px) scale(0.8, 0.8); }
  to {
    opacity: 1;
    transform: translateX(0px) scale(1, 1); } }

.fade-in-right {
  animation: fade-in-r ease 2s; }

@keyframes fade-in-r {
  from {
    opacity: 0;
    transform: translateX(50px) scale(0.8, 0.8); }
  to {
    opacity: 1;
    transform: translateX(0px) scale(1, 1); } }

.fade-in-bottom {
  animation: fade-in-b ease 2s; }

@keyframes fade-in-b {
  from {
    opacity: 0;
    transform: translateY(50px) scale(0.8, 0.8); }
  to {
    opacity: 1;
    transform: translateY(0px) scale(1, 1); } }

*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden; }

html {
  font-size: 62.5%; }

body {
  font-weight: 400;
  background-color: #000000; }

.container-fluid {
  padding: 0; }

.row > * {
  padding: 0px; }

.vibes {
  font-family: "Great Vibes", cursive; }

.roboto {
  font-family: "Roboto Slab", serif; }

.montserrat {
  font-family: "Montserrat", sans-serif; }

.montserrat_bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 800; }

.meb {
  font-family: "Montserrat", sans-serif;
  font-weight: 900; }

.monoton {
  font-family: "Monoton", cursive; }

.white {
  color: white; }

.light-white {
  color: #c6c6c6; }

.grey {
  color: #8f8f8f; }

.light-black {
  color: #727272; }

.black {
  color: #000000; }

.blue {
  color: #0084ba; }

.xxs {
  font-size: 1vw; }
  @media (max-width: 900px) {
    .xxs {
      font-size: 3vw; } }
  @media (max-width: 430px) {
    .xxs {
      font-size: 4vw; } }

.xs {
  font-size: 2vw; }
  @media (max-width: 900px) {
    .xs {
      font-size: 4vw; } }
  @media (max-width: 430px) {
    .xs {
      font-size: 6vw; } }

.sm {
  font-size: 3vw; }
  @media (max-width: 900px) {
    .sm {
      font-size: 6vw; } }
  @media (max-width: 430px) {
    .sm {
      font-size: 10vw; } }

.md {
  font-size: 4.5vw; }
  @media (max-width: 900px) {
    .md {
      font-size: 6vw; } }
  @media (max-width: 430px) {
    .md {
      font-size: 10vw; } }

.l {
  font-size: 6vw; }
  @media (max-width: 900px) {
    .l {
      font-size: 7vw; } }
  @media (max-width: 430px) {
    .l {
      font-size: 10vw; } }

.xl {
  font-size: 7vw; }
  @media (max-width: 900px) {
    .xl {
      font-size: 8vw; } }
  @media (max-width: 430px) {
    .xl {
      font-size: 13vw; } }

.xxl {
  font-size: 15vw; }
  @media (max-width: 430px) {
    .xxl {
      font-size: 16vw; } }

.btn-primary {
  background-color: #0084ba;
  padding: 1.5rem;
  border: 0.2rem solid #0084ba;
  border-radius: 0.2rem;
  margin: 1.7rem auto;
  text-decoration: none;
  text-align: center;
  cursor: pointer; }

.btn-primary:hover {
  background-color: transparent;
  padding: 1.5rem;
  border: 0.2rem solid #0084ba;
  border-radius: 0.2rem; }

.btn-secondary {
  background-color: transparent;
  color: #0084ba;
  padding: 0.1rem 1rem;
  font-size: 2rem;
  border-bottom: 0.1rem solid #0084ba;
  margin: 1.7rem auto;
  text-decoration: none;
  text-align: center;
  cursor: pointer; }

.btn-secondary:hover {
  background-color: #0084ba;
  color: white; }

.header {
  height: 100vh; }
  .header .social-links-left {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem;
    z-index: 100; }
    .header .social-links-left a {
      margin-top: 2rem; }
  .header .social-links-right {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem;
    z-index: 100; }
    .header .social-links-right a {
      margin-top: 2rem; }
  .header .logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 22rem; }
    @media (max-width: 900px) {
      .header .logo {
        width: 18rem; } }
    @media (max-width: 430px) {
      .header .logo {
        width: 15rem; } }
  .header-top {
    width: 100vw;
    height: 50vh;
    background-image: url(../img/bgg.png);
    background-size: 100% 100%;
    background-repeat: no-repeat; }
    @media (max-width: 430px) {
      .header-top {
        background-image: url(../img/bg.png); } }
  .header-btm {
    transform: translateY(0, -10vh);
    text-align: center;
    position: relative;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly; }

.fab,
.fas,
.far {
  font-size: 2.7rem;
  color: white;
  padding: 0.1rem; }

.paths,
.paths-phone {
  z-index: -5; }

.navigation-burger {
  position: absolute;
  top: 2rem;
  right: 2rem;
  z-index: 200;
  transform: translateY(0); }

.navigation-links {
  position: absolute;
  top: 0;
  right: 0;
  height: 100vh;
  width: 0;
  opacity: 1;
  z-index: 150;
  overflow-y: hidden;
  background-color: #0084ba;
  transition: all 0.4s 0.2s ease; }
  .navigation-links-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 100vh;
    text-align: center;
    padding: 5rem; }
    .navigation-links-list li {
      line-height: 1.6;
      transform: translate(200px, 0%);
      opacity: 0;
      transition-duration: 0.5s;
      transition-timing-function: cubic-bezier(0.17, 0.67, 0.24, 1.23);
      transition-delay: calc(0.1s * var(--index));
      transition-property: transform, opacity; }
      .navigation-links-list li a {
        text-decoration: none;
        color: white; }

.expand .navigation-burger {
  transform: rotateZ(180deg) translateY(-2rem); }

.expand .navigation-links {
  width: 40vw;
  opacity: 1;
  transition: all 0.4s ease; }
  @media (max-width: 900px) {
    .expand .navigation-links {
      width: 100vw; } }
  @media (max-width: 430px) {
    .expand .navigation-links {
      width: 100vw; } }
  .expand .navigation-links-list li {
    transform: translate(0);
    opacity: 1;
    transition-duration: 0.5s;
    transition-timing-function: cubic-bezier(0.17, 0.67, 0.24, 1.23);
    transition-delay: calc(0.4s + (0.1s * var(--index)));
    transition-property: transform, opacity; }

.section {
  padding: 0 2rem; }
  .section-row {
    overflow-y: hidden; }
  .section-header {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: hidden; }
    .section-header * {
      margin: 0 auto; }
    .section-header-back {
      width: 100%;
      text-align: center;
      overflow-y: hidden; }
      @media (max-width: 430px) {
        .section-header-back {
          padding: 2vh 0; } }
      .section-header-back-title {
        text-transform: uppercase;
        z-index: -1;
        opacity: 0.11;
        line-height: 0.9;
        overflow-y: hidden; }
    .section-header-front {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -15%);
      display: flex;
      flex-direction: column; }
      @media (max-width: 900px) {
        .section-header-front {
          transform: translate(-50%, -45%); } }
      @media (max-width: 430px) {
        .section-header-front {
          transform: translate(-50%, -30%); } }
      .section-header-front-title {
        line-height: 1;
        overflow-y: hidden; }
    .section-header .section-title {
      display: block; }

.who-left-image {
  text-align: center; }
  .who-left-image .main-image {
    max-height: 85vh;
    width: auto; }

.who-right {
  text-align: center;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.who .typing {
  margin-top: 4vh; }

.what .card-container {
  margin-top: 3vh;
  display: flex;
  justify-content: space-around; }
  .what .card-container .card {
    box-shadow: 9px 9px 32px #0084ba;
    text-align: center;
    line-height: 1.4;
    padding: 2rem;
    margin: 2rem;
    border-radius: 0.5rem; }
    .what .card-container .card-description {
      padding: 2.5 2rem; }
    .what .card-container .card-svg {
      margin: 2.5rem auto; }
    .what .card-container .card-line {
      border-bottom: 3px solid #0084ba;
      width: 83%;
      margin: 2.5rem auto; }

.experience {
  margin-top: 3rem;
  background-image: url(../img/experience-background.png);
  text-align: center; }
  .experience-line {
    border-bottom: 3px solid white;
    width: 83%;
    margin: 2.5rem auto; }
  .experience-desc {
    padding: 0 1rem; }
    @media (max-width: 430px) {
      .experience-desc {
        margin-top: 2rem; } }

.certifications {
  margin-top: 5rem;
  background-image: url(../img/certifications-background.png); }
  .certifications-container {
    margin-top: 2rem;
    display: flex;
    justify-content: space-evenly; }
    .certifications-container .certificate {
      text-align: center;
      background-color: white;
      box-shadow: 9px 9px 32px #0084ba;
      margin-bottom: 3rem;
      border-radius: 0.5rem;
      display: flex;
      flex-direction: column; }
      .certifications-container .certificate-title {
        display: inline-block;
        margin: 2rem auto;
        color: #0084ba; }

.story {
  margin-top: 7rem;
  background-image: url(../img/story.png);
  background-size: contain; }
  .story .mystory {
    margin: 3rem 0;
    display: flex;
    justify-content: space-around;
    text-align: center;
    align-items: center; }
    .story .mystory-text {
      margin-bottom: 3rem; }

footer {
  text-align: center; }
