/*
phone
tablet
tablet landscape
desktop
*/
*,
*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden; }

html {
  font-size: 62.5%; }

body {
  font-weight: 400;
  background-color: #000000; }

.container-fluid {
  padding: 0; }

.row > * {
  padding: 0px; }

.vibes {
  font-family: "Great Vibes", cursive; }

.roboto {
  font-family: "Roboto Slab", serif; }

.montserrat {
  font-family: "Montserrat", sans-serif; }

.montserrat_bold {
  font-family: "Montserrat", sans-serif;
  font-weight: 800; }

.meb {
  font-family: "Montserrat", sans-serif;
  font-weight: 900; }

.monoton {
  font-family: "Monoton", cursive; }

.white {
  color: white; }

.light-white {
  color: #c6c6c6; }

.grey {
  color: #8f8f8f; }

.light-black {
  color: #727272; }

.black {
  color: #000000; }

.blue {
  color: #0084ba; }

.xxs {
  font-size: 1vw; }
  @media (max-width: 900px) {
    .xxs {
      font-size: 6vw; } }
  @media (max-width: 415px) {
    .xxs {
      font-size: 6vw; } }

.xs {
  font-size: 2vw; }
  @media (max-width: 900px) {
    .xs {
      font-size: 6vw; } }
  @media (max-width: 415px) {
    .xs {
      font-size: 6vw; } }

.sm {
  font-size: 3vw; }
  @media (max-width: 900px) {
    .sm {
      font-size: 6vw; } }
  @media (max-width: 415px) {
    .sm {
      font-size: 10vw; } }

.l {
  font-size: 6vw; }
  @media (max-width: 900px) {
    .l {
      font-size: 7vw; } }
  @media (max-width: 415px) {
    .l {
      font-size: 10vw; } }

.xxl {
  font-size: 15vw; }
  @media (max-width: 415px) {
    .xxl {
      font-size: 16vw; } }

.section {
  padding: 0 2rem; }
  .section-header {
    display: flex;
    flex-direction: column;
    position: relative; }
    .section-header * {
      margin: 0 auto; }
    .section-header-back {
      width: 100%;
      text-align: center;
      overflow-y: hidden; }
      @media (max-width: 415px) {
        .section-header-back {
          padding: 2vh 0; } }
      .section-header-back-title {
        text-transform: uppercase;
        z-index: -1;
        opacity: 0.11;
        line-height: 0.9;
        overflow-y: hidden; }
    .section-header-front {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -15%);
      display: flex;
      flex-direction: column; }
      @media (max-width: 900px) {
        .section-header-front {
          transform: translate(-50%, -45%); } }
      @media (max-width: 415px) {
        .section-header-front {
          transform: translate(-50%, -30%); } }
      .section-header-front-title {
        line-height: 1;
        overflow-y: hidden; }
    .section-header .section-title {
      display: block; }

.who-left-image {
  text-align: center; }
  .who-left-image .main-image {
    max-height: 85vh;
    width: auto; }

.who-right {
  text-align: center;
  line-height: 1.4;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; }

.who .typing {
  margin-top: 4vh; }

.what .card-container {
  margin-top: 3vh;
  display: flex;
  justify-content: space-around; }
  .what .card-container .card {
    background: linear-gradient(to right bottom, #0084ba, white);
    box-shadow: 12px 12px 36px #0084ba;
    text-align: center;
    line-height: 1.3;
    padding: 2rem;
    margin: 1rem;
    border-radius: 0.5rem; }
    .what .card-container .card-description {
      padding: 2.5 2rem; }
    .what .card-container .card-svg {
      margin: 2.5rem auto; }
    .what .card-container .card-line {
      border-bottom: 3px solid white;
      width: 83%;
      margin: 2.5rem auto; }

.experience {
  margin-top: 3rem;
  background-image: url(../img/experience-background.png);
  text-align: center; }
  .experience-line {
    border-bottom: 3px solid white;
    width: 83%;
    margin: 2.5rem auto; }
  @media (max-width: 415px) {
    .experience-desc {
      margin-top: 2rem; } }

.certifications {
  margin-top: 3rem;
  background-image: url(../img/certifications-background.png); }
