.header {
  height: 100vh;
  .social-links-left {
    position: absolute;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem;
    z-index: 100;
    a {
      margin-top: 2rem;
    }
  }
  .social-links-right {
    position: absolute;
    bottom: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem;
    z-index: 100;
    a {
      margin-top: 2rem;
    }
  }
  .logo {
    position: absolute;
    top: 1rem;
    left: 1rem;
    width: 22rem;
    @include respond(tablet) {
      width: 18rem;
    }
    @include respond(phone) {
      width: 15rem;
    }
  }

  &-top {
    width: 100vw;
    height: 50vh;
    background-image: url(../img/bgg.png);

    background-size: 100% 100%;
    background-repeat: no-repeat;

    @include respond(phone) {
      background-image: url(../img/bg.png);
    }
  }
  &-btm {
    transform: translateY(0, -10vh);
    text-align: center;
    position: relative;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
  }
}
.fab,
.fas,
.far {
  font-size: 2.7rem;
  color: white;
  padding: 0.1rem;
}
.paths,
.paths-phone {
  z-index: -5;
}
