.navigation {
  &-burger {
    position: absolute;
    top: 2rem;
    right: 2rem;
    z-index: 200;
    transform: translateY(0);
  }
  &-links {
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 0;
    opacity: 1;
    z-index: 150;
    overflow-y: hidden;
    background-color: $primary-blue;
    transition: all 0.4s 0.2s ease;

    &-list {
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      height: 100vh;
      text-align: center;
      padding: 5rem;

      li {
        line-height: 1.6;
        transform: translate(200px, 0%);
        opacity: 0;

        // testing reverse
        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(0.17, 0.67, 0.24, 1.23);
        transition-delay: calc(0.1s * var(--index));
        transition-property: transform, opacity;

        a {
          text-decoration: none;
          color: white;
        }
      }
    }
  }
}

.expand {
  .navigation-burger {
    transform: rotateZ(180deg) translateY(-2rem);
  }
  .navigation-links {
    width: 40vw;
    opacity: 1;
    transition: all 0.4s ease;
    @include respond(tablet) {
      width: 100vw;
    }
    @include respond(phone) {
      width: 100vw;
    }

    &-list {
      li {
        transform: translate(0);
        opacity: 1;
        transition-duration: 0.5s;
        transition-timing-function: cubic-bezier(0.17, 0.67, 0.24, 1.23);
        transition-delay: calc(0.4s + (0.1s * var(--index)));
        transition-property: transform, opacity;

        a {
        }
      }
    }
  }
}
