.section {
  padding: 0 2rem;

  &-row {
    overflow-y: hidden;
  }

  &-header {
    display: flex;
    flex-direction: column;
    position: relative;
    overflow-y: hidden;

    & * {
      margin: 0 auto;
    }
    &-back {
      width: 100%;
      text-align: center;
      overflow-y: hidden;

      @include respond(phone) {
        padding: 2vh 0;
      }
      &-title {
        text-transform: uppercase;
        z-index: -1;
        opacity: 0.11;
        line-height: 0.9;
        overflow-y: hidden;
      }
    }
    &-front {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -15%);
      display: flex;
      flex-direction: column;

      @include respond(tablet) {
        transform: translate(-50%, -45%);
      }
      @include respond(phone) {
        transform: translate(-50%, -30%);
      }
      &-title {
        line-height: 1;
        overflow-y: hidden;
      }
    }

    .section-title {
      display: block;
    }
  }
}
